In [47]:
import numpy as np
import pandas as pd

In [48]:
from scrape_data import scrape_data 
scrape_data()

Directory at output already exists, skipping...
Directory at output/html already exists, skipping...
Directory at output/csv already exists, skipping...
Directory at output/processed_data already exists, skipping...
Directory at output/models already exists, skipping...
Directory at output/joblib already exists, skipping...
Data has been scraped.

In [49]:
raw_cnu = pd.read_csv('output/csv/cnuStats.csv')
raw_opp = pd.read_csv('output/csv/oppStats.csv')

In [50]:
raw_cnu

,Opponent,Date,Score,w/l,fgm-fga,pct,3fg-fga,pct.1,ftm-fta,pct.2,...,tot,avg,pf,ast,t/o,blk,stl,pts,avg.1,Season
0,LYNCHBURG,11/19/10,108-100,Wot,35-76,0.461,7-17,0.412,31-45,0.689,...,48,48.0,20,15,17,5,10,108,108.0,2010-2011
1,ST. JOHN FISHER,11/20/10,69-65,W,26-59,0.441,4-12,0.333,13-17,0.765,...,30,39.0,22,8,13,2,11,69,88.5,2010-2011
2,at #12 Virginia Wesleyan,11/23/10,57-79,L,18-39,0.462,3-6,0.500,18-30,0.600,...,27,35.0,17,2,18,0,2,57,78.0,2010-2011
3,BRIDGEWATER,11/26/10,87-73,W,26-51,0.510,5-12,0.417,30-45,0.667,...,47,38.0,22,10,19,9,6,87,80.2,2010-2011
4,WESLEY,11/27/10,83-79,W,26-50,0.520,5-8,0.625,26-35,0.743,...,37,37.8,24,10,19,4,6,83,80.8,2010-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,02/26/22,80-69,W,29-64,0.453,6-22,0.273,16-22,0.727,...,48,44.5,18,11,15,10,5,80,81.5,2021-2022
318,BARUCH,03/04/22,88-50,W,36-80,0.450,11-39,0.282,5-6,0.833,...,51,44.7,13,24,7,5,12,88,81.7,2021-2022
319,SUSQUEHANNA,03/05/22,81-67,W,33-60,0.550,9-21,0.429,6-9,0.667,...,37,44.4,15,25,9,6,5,81,81.7,2021-2022
320,vs Stockton,03/11/22,93-54,W,39-71,0.549,11-23,0.478,4-7,0.571,...,53,44.7,18,17,15,8,6,93,82.1,2021-2022
321,at Marietta,03/12/22,79-81,L,24-63,0.381,10-21,0.476,21-31,0.677,...,38,44.5,24,8,6,5,4,79,82.0,2021-2022

In [51]:
raw_cnu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Opponent  322 non-null    object
 1   Date      322 non-null    object
 2   Score     322 non-null    object
 3   w/l       322 non-null    object
 4   fgm-fga   322 non-null    object
 5   pct       322 non-null    float64
 6   3fg-fga   322 non-null    object
 7   pct.1     322 non-null    float64
 8   ftm-fta   322 non-null    object
 9   pct.2     322 non-null    float64
 10  off       322 non-null    int64
 11  def       322 non-null    int64
 12  tot       322 non-null    int64
 13  avg       322 non-null    float64
 14  pf        322 non-null    int64
 15  ast       322 non-null    int64
 16  t/o       322 non-null    int64
 17  blk       322 non-null    int64
 18  stl       322 non-null    int64
 19  pts       322 non-null    int64
 20  avg.1     322 non-null    float64
 21  Season    322 non-null    object
dtypes: float64(5), int64(9), object(8)
memory usage: 55.5+ KB

In [52]:
raw_cnu.columns

Index(['Opponent', 'Date', 'Score', 'w/l', 'fgm-fga', 'pct', '3fg-fga',
       'pct.1', 'ftm-fta', 'pct.2', 'off', 'def', 'tot', 'avg', 'pf', 'ast',
       't/o', 'blk', 'stl', 'pts', 'avg.1', 'Season'],
      dtype='object')

In [53]:
raw_cnu = raw_cnu.rename(columns={'Score': 'cnu_score-opp_score',
                        '3fg-fga': '3fgm-3fga',
                        'pct': 'fg%',
                        'pct.1': '3pt%',
                        'pct.2': 'ft%',
                        'avg': 'rb avg',
                        'avg.1': 'ppg avg'})

In [54]:
raw_opp = raw_opp.rename(columns={'Score': 'cnu_score-opp_score',
                        '3fg-fga': '3fgm-3fga',
                        'pct': 'fg%',
                        'pct.1': '3pt%',
                        'pct.2': 'ft%',
                        'avg': 'rb avg',
                        'avg.1': 'ppg avg'})

In [55]:
raw_cnu.columns

Index(['Opponent', 'Date', 'cnu_score-opp_score', 'w/l', 'fgm-fga', 'fg%',
       '3fgm-3fga', '3pt%', 'ftm-fta', 'ft%', 'off', 'def', 'tot', 'rb avg',
       'pf', 'ast', 't/o', 'blk', 'stl', 'pts', 'ppg avg', 'Season'],
      dtype='object')

In [56]:
raw_opp.columns

Index(['Opponent', 'Date', 'cnu_score-opp_score', 'w/l', 'fgm-fga', 'fg%',
       '3fgm-3fga', '3pt%', 'ftm-fta', 'ft%', 'off', 'def', 'tot', 'rb avg',
       'pf', 'ast', 't/o', 'blk', 'stl', 'pts', 'ppg avg', 'Season'],
      dtype='object')

In [57]:
cols_to_split = ['cnu_score-opp_score','fgm-fga', '3fgm-3fga', 'ftm-fta']

In [58]:
# Function where I pass in dataframe and columns that contain split/hypenated data
def split_columns(df, cols):
  
  # Function  will take the df and split the column name into two new columns for the dataframe
  for col in cols:
    new_cols = col.split('-')
    print(new_cols)
    # Then will go through the original column and split the data in the column on it's seperator
    df[[new_cols[0], new_cols[1]]] = df[col].str.split('-', expand=True)
    # Drop the orginal column to remove the repetitive data
    df.drop(col, axis=1, inplace=True) 
    
  
split_columns(raw_cnu, cols_to_split)
split_columns(raw_opp, cols_to_split)

['cnu_score', 'opp_score']
['fgm', 'fga']
['3fgm', '3fga']
['ftm', 'fta']
['cnu_score', 'opp_score']
['fgm', 'fga']
['3fgm', '3fga']
['ftm', 'fta']

In [59]:
raw_cnu.columns = raw_cnu.columns.str.lower()
raw_opp.columns = raw_opp.columns.str.lower()

In [60]:
raw_opp

,opponent,date,w/l,fg%,3pt%,ft%,off,def,tot,rb avg,...,ppg avg,season,cnu_score,opp_score,fgm,fga,3fgm,3fga,ftm,fta
0,LYNCHBURG,11/19/10,Wot,0.476,0.333,0.700,18,31,49,49.0,...,100.0,2010-2011,108,100,40,84,6,18,14,20
1,ST. JOHN FISHER,11/20/10,W,0.396,0.200,0.760,9,32,41,45.0,...,82.5,2010-2011,69,65,21,53,4,20,19,25
2,at #12 Virginia Wesleyan,11/23/10,L,0.446,0.250,0.667,18,25,43,44.3,...,81.3,2010-2011,57,79,29,65,5,20,16,24
3,BRIDGEWATER,11/26/10,W,0.415,0.316,0.591,10,20,30,40.8,...,79.2,2010-2011,87,73,27,65,6,19,13,22
4,WESLEY,11/27/10,W,0.431,0.200,0.731,18,17,35,39.6,...,79.2,2010-2011,83,79,28,65,4,20,19,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,02/26/22,W,0.355,0.286,0.944,10,22,32,34.7,...,66.5,2021-2022,80,69,22,62,8,28,17,18
318,BARUCH,03/04/22,W,0.302,0.313,0.700,9,29,38,34.8,...,65.9,2021-2022,88,50,19,63,5,16,7,10
319,SUSQUEHANNA,03/05/22,W,0.413,0.292,0.615,11,22,33,34.7,...,66.0,2021-2022,81,67,26,63,7,24,8,13
320,vs Stockton,03/11/22,W,0.296,0.150,0.643,11,23,34,34.7,...,65.6,2021-2022,93,54,21,71,3,20,9,14
321,at Marietta,03/12/22,L,0.424,0.500,0.633,11,37,48,35.1,...,66.1,2021-2022,79,81,25,59,12,24,19,30

In [61]:
opp_cols = ['fg%', '3pt%', 'ft%', 'off', 'def', 'tot', 'rb avg', 'pf', 'ast', 't/o', 'blk', 'stl', 'pts', 'ppg avg', 'fgm', 'fga', '3fgm', '3fga', 'ftm', 'fta', 'ranked']
raw_opp = raw_opp.rename(columns={col:f'opp_{col}' for col in opp_cols})
raw_opp

,opponent,date,w/l,opp_fg%,opp_3pt%,opp_ft%,opp_off,opp_def,opp_tot,opp_rb avg,...,opp_ppg avg,season,cnu_score,opp_score,opp_fgm,opp_fga,opp_3fgm,opp_3fga,opp_ftm,opp_fta
0,LYNCHBURG,11/19/10,Wot,0.476,0.333,0.700,18,31,49,49.0,...,100.0,2010-2011,108,100,40,84,6,18,14,20
1,ST. JOHN FISHER,11/20/10,W,0.396,0.200,0.760,9,32,41,45.0,...,82.5,2010-2011,69,65,21,53,4,20,19,25
2,at #12 Virginia Wesleyan,11/23/10,L,0.446,0.250,0.667,18,25,43,44.3,...,81.3,2010-2011,57,79,29,65,5,20,16,24
3,BRIDGEWATER,11/26/10,W,0.415,0.316,0.591,10,20,30,40.8,...,79.2,2010-2011,87,73,27,65,6,19,13,22
4,WESLEY,11/27/10,W,0.431,0.200,0.731,18,17,35,39.6,...,79.2,2010-2011,83,79,28,65,4,20,19,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,02/26/22,W,0.355,0.286,0.944,10,22,32,34.7,...,66.5,2021-2022,80,69,22,62,8,28,17,18
318,BARUCH,03/04/22,W,0.302,0.313,0.700,9,29,38,34.8,...,65.9,2021-2022,88,50,19,63,5,16,7,10
319,SUSQUEHANNA,03/05/22,W,0.413,0.292,0.615,11,22,33,34.7,...,66.0,2021-2022,81,67,26,63,7,24,8,13
320,vs Stockton,03/11/22,W,0.296,0.150,0.643,11,23,34,34.7,...,65.6,2021-2022,93,54,21,71,3,20,9,14
321,at Marietta,03/12/22,L,0.424,0.500,0.633,11,37,48,35.1,...,66.1,2021-2022,79,81,25,59,12,24,19,30

In [62]:
# Create Home vs Away Column
def home_court(df):
    df['home'] = [0 if x[:2] == 'at' else 1 for x in df['opponent']]

home_court(raw_cnu)
home_court(raw_opp)
raw_cnu

,opponent,date,w/l,fg%,3pt%,ft%,off,def,tot,rb avg,...,season,cnu_score,opp_score,fgm,fga,3fgm,3fga,ftm,fta,home
0,LYNCHBURG,11/19/10,Wot,0.461,0.412,0.689,17,31,48,48.0,...,2010-2011,108,100,35,76,7,17,31,45,1
1,ST. JOHN FISHER,11/20/10,W,0.441,0.333,0.765,6,24,30,39.0,...,2010-2011,69,65,26,59,4,12,13,17,1
2,at #12 Virginia Wesleyan,11/23/10,L,0.462,0.500,0.600,4,23,27,35.0,...,2010-2011,57,79,18,39,3,6,18,30,0
3,BRIDGEWATER,11/26/10,W,0.510,0.417,0.667,14,33,47,38.0,...,2010-2011,87,73,26,51,5,12,30,45,1
4,WESLEY,11/27/10,W,0.520,0.625,0.743,13,24,37,37.8,...,2010-2011,83,79,26,50,5,8,26,35,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,02/26/22,W,0.453,0.273,0.727,17,31,48,44.5,...,2021-2022,80,69,29,64,6,22,16,22,1
318,BARUCH,03/04/22,W,0.450,0.282,0.833,15,36,51,44.7,...,2021-2022,88,50,36,80,11,39,5,6,1
319,SUSQUEHANNA,03/05/22,W,0.550,0.429,0.667,7,30,37,44.4,...,2021-2022,81,67,33,60,9,21,6,9,1
320,vs Stockton,03/11/22,W,0.549,0.478,0.571,11,42,53,44.7,...,2021-2022,93,54,39,71,11,23,4,7,1
321,at Marietta,03/12/22,L,0.381,0.476,0.677,10,28,38,44.5,...,2021-2022,79,81,24,63,10,21,21,31,0

In [63]:
def extract_date(df):
    # Convert column to year
    df['date'] = pd.to_datetime(df['date'])
    
    # Extract the month, day, year and weekday and make them their own columns
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['year'] = df['date'].dt.year
    df['weekday'] = df['date'].dt.weekday
    
extract_date(raw_cnu)
raw_cnu

,opponent,date,w/l,fg%,3pt%,ft%,off,def,tot,rb avg,...,fga,3fgm,3fga,ftm,fta,home,month,day,year,weekday
0,LYNCHBURG,2010-11-19,Wot,0.461,0.412,0.689,17,31,48,48.0,...,76,7,17,31,45,1,11,19,2010,4
1,ST. JOHN FISHER,2010-11-20,W,0.441,0.333,0.765,6,24,30,39.0,...,59,4,12,13,17,1,11,20,2010,5
2,at #12 Virginia Wesleyan,2010-11-23,L,0.462,0.500,0.600,4,23,27,35.0,...,39,3,6,18,30,0,11,23,2010,1
3,BRIDGEWATER,2010-11-26,W,0.510,0.417,0.667,14,33,47,38.0,...,51,5,12,30,45,1,11,26,2010,4
4,WESLEY,2010-11-27,W,0.520,0.625,0.743,13,24,37,37.8,...,50,5,8,26,35,1,11,27,2010,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,2022-02-26,W,0.453,0.273,0.727,17,31,48,44.5,...,64,6,22,16,22,1,2,26,2022,5
318,BARUCH,2022-03-04,W,0.450,0.282,0.833,15,36,51,44.7,...,80,11,39,5,6,1,3,4,2022,4
319,SUSQUEHANNA,2022-03-05,W,0.550,0.429,0.667,7,30,37,44.4,...,60,9,21,6,9,1,3,5,2022,5
320,vs Stockton,2022-03-11,W,0.549,0.478,0.571,11,42,53,44.7,...,71,11,23,4,7,1,3,11,2022,4
321,at Marietta,2022-03-12,L,0.381,0.476,0.677,10,28,38,44.5,...,63,10,21,21,31,0,3,12,2022,5

In [64]:
import re

# Clean the Opponent Column
def clean_teamName(df):
  # Create a Ranked Column: if team name contains a ranking value is 1, else 0.
  ranked_mapping = {True: 1, False: 0}
  ranking = df.opponent.str.contains(r'\#\d+', regex=True, case=False, na=False)
  df['ranked'] = ranking.map(ranked_mapping)
  # Remove the numbers/rankings
  df['opponent'] = df['opponent'].str.replace('\#\d+', '', regex=True)
  # Remove the 'at' denoting away games
  df['opponent'] = df['opponent'].apply(lambda x: x[2:] if x[:2] == 'at' else x)
  # Remove the 'vs' denoting neutral location games
  df['opponent'] = df['opponent'].apply(lambda x: x[2:] if x[:2] == 'vs' else x)
   # Capitalize the Team Name
  df['opponent'] = df['opponent'].apply(lambda x: x.upper())
  # Remove Leading White Space
  df['opponent'] = df['opponent'].apply(lambda x: x.lstrip())
  
clean_teamName(raw_cnu)
clean_teamName(raw_opp)
raw_cnu

,opponent,date,w/l,fg%,3pt%,ft%,off,def,tot,rb avg,...,3fgm,3fga,ftm,fta,home,month,day,year,weekday,ranked
0,LYNCHBURG,2010-11-19,Wot,0.461,0.412,0.689,17,31,48,48.0,...,7,17,31,45,1,11,19,2010,4,0
1,ST. JOHN FISHER,2010-11-20,W,0.441,0.333,0.765,6,24,30,39.0,...,4,12,13,17,1,11,20,2010,5,0
2,VIRGINIA WESLEYAN,2010-11-23,L,0.462,0.500,0.600,4,23,27,35.0,...,3,6,18,30,0,11,23,2010,1,1
3,BRIDGEWATER,2010-11-26,W,0.510,0.417,0.667,14,33,47,38.0,...,5,12,30,45,1,11,26,2010,4,0
4,WESLEY,2010-11-27,W,0.520,0.625,0.743,13,24,37,37.8,...,5,8,26,35,1,11,27,2010,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,2022-02-26,W,0.453,0.273,0.727,17,31,48,44.5,...,6,22,16,22,1,2,26,2022,5,0
318,BARUCH,2022-03-04,W,0.450,0.282,0.833,15,36,51,44.7,...,11,39,5,6,1,3,4,2022,4,0
319,SUSQUEHANNA,2022-03-05,W,0.550,0.429,0.667,7,30,37,44.4,...,9,21,6,9,1,3,5,2022,5,0
320,STOCKTON,2022-03-11,W,0.549,0.478,0.571,11,42,53,44.7,...,11,23,4,7,1,3,11,2022,4,0
321,MARIETTA,2022-03-12,L,0.381,0.476,0.677,10,28,38,44.5,...,10,21,21,31,0,3,12,2022,5,0

In [65]:
def clean_win(df):
    df['overtime'] = [1 if x[1:] == 'ot' else 0 for x in df['w/l']]
    df['win'] = [1 if x[:1] == 'W' else 0 for x in df['w/l']]
    
clean_win(raw_cnu)
raw_cnu = raw_cnu.drop(['w/l'], axis=1)
clean_win(raw_opp)
raw_opp = raw_opp.drop(['w/l'], axis=1)

raw_cnu

,opponent,date,fg%,3pt%,ft%,off,def,tot,rb avg,pf,...,ftm,fta,home,month,day,year,weekday,ranked,overtime,win
0,LYNCHBURG,2010-11-19,0.461,0.412,0.689,17,31,48,48.0,20,...,31,45,1,11,19,2010,4,0,1,1
1,ST. JOHN FISHER,2010-11-20,0.441,0.333,0.765,6,24,30,39.0,22,...,13,17,1,11,20,2010,5,0,0,1
2,VIRGINIA WESLEYAN,2010-11-23,0.462,0.500,0.600,4,23,27,35.0,17,...,18,30,0,11,23,2010,1,1,0,0
3,BRIDGEWATER,2010-11-26,0.510,0.417,0.667,14,33,47,38.0,22,...,30,45,1,11,26,2010,4,0,0,1
4,WESLEY,2010-11-27,0.520,0.625,0.743,13,24,37,37.8,24,...,26,35,1,11,27,2010,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,2022-02-26,0.453,0.273,0.727,17,31,48,44.5,18,...,16,22,1,2,26,2022,5,0,0,1
318,BARUCH,2022-03-04,0.450,0.282,0.833,15,36,51,44.7,13,...,5,6,1,3,4,2022,4,0,0,1
319,SUSQUEHANNA,2022-03-05,0.550,0.429,0.667,7,30,37,44.4,15,...,6,9,1,3,5,2022,5,0,0,1
320,STOCKTON,2022-03-11,0.549,0.478,0.571,11,42,53,44.7,18,...,4,7,1,3,11,2022,4,0,0,1
321,MARIETTA,2022-03-12,0.381,0.476,0.677,10,28,38,44.5,24,...,21,31,0,3,12,2022,5,0,0,0

In [66]:
combine_cols = [x for x in list(raw_cnu.columns) if x in list(raw_opp.columns)]
combine_cols.remove('date')
combined_df = raw_cnu.merge(raw_opp, on=combine_cols)
combined_df = combined_df.drop(['date_y'], axis=1).rename(columns={'date_x':'date'})
combined_df

,opponent,date,fg%,3pt%,ft%,off,def,tot,rb avg,pf,...,opp_blk,opp_stl,opp_pts,opp_ppg avg,opp_fgm,opp_fga,opp_3fgm,opp_3fga,opp_ftm,opp_fta
0,LYNCHBURG,2010-11-19,0.461,0.412,0.689,17,31,48,48.0,20,...,2,6,100,100.0,40,84,6,18,14,20
1,ST. JOHN FISHER,2010-11-20,0.441,0.333,0.765,6,24,30,39.0,22,...,4,2,65,82.5,21,53,4,20,19,25
2,VIRGINIA WESLEYAN,2010-11-23,0.462,0.500,0.600,4,23,27,35.0,17,...,4,7,79,81.3,29,65,5,20,16,24
3,BRIDGEWATER,2010-11-26,0.510,0.417,0.667,14,33,47,38.0,22,...,3,8,73,79.2,27,65,6,19,13,22
4,WESLEY,2010-11-27,0.520,0.625,0.743,13,24,37,37.8,24,...,4,11,79,79.2,28,65,4,20,19,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,2022-02-26,0.453,0.273,0.727,17,31,48,44.5,18,...,5,6,69,66.5,22,62,8,28,17,18
318,BARUCH,2022-03-04,0.450,0.282,0.833,15,36,51,44.7,13,...,2,4,50,65.9,19,63,5,16,7,10
319,SUSQUEHANNA,2022-03-05,0.550,0.429,0.667,7,30,37,44.4,15,...,0,3,67,66.0,26,63,7,24,8,13
320,STOCKTON,2022-03-11,0.549,0.478,0.571,11,42,53,44.7,18,...,6,5,54,65.6,21,71,3,20,9,14
321,MARIETTA,2022-03-12,0.381,0.476,0.677,10,28,38,44.5,24,...,3,2,81,66.1,25,59,12,24,19,30

In [67]:
print(list(combined_df.columns))

['opponent', 'date', 'fg%', '3pt%', 'ft%', 'off', 'def', 'tot', 'rb avg', 'pf', 'ast', 't/o', 'blk', 'stl', 'pts', 'ppg avg', 'season', 'cnu_score', 'opp_score', 'fgm', 'fga', '3fgm', '3fga', 'ftm', 'fta', 'home', 'month', 'day', 'year', 'weekday', 'ranked', 'overtime', 'win', 'opp_fg%', 'opp_3pt%', 'opp_ft%', 'opp_off', 'opp_def', 'opp_tot', 'opp_rb avg', 'opp_pf', 'opp_ast', 'opp_t/o', 'opp_blk', 'opp_stl', 'opp_pts', 'opp_ppg avg', 'opp_fgm', 'opp_fga', 'opp_3fgm', 'opp_3fga', 'opp_ftm', 'opp_fta']

In [68]:
dtypes = {'off':'int8',
'def': 'int8',
'tot':'int8',
'pf':'int8',
'ast': 'int8',
't/o': 'int8',
'blk': 'int8',
'stl': 'int8',
'fgm': 'int8',
'fga': 'int8',
'3fgm': 'int8',
'3fga': 'int8',
'ftm': 'int8',
'fta': 'int8',
'opp_off': 'int8',
'opp_def': 'int8',
'opp_tot': 'int8',
'opp_pf': 'int8',
'opp_ast': 'int8',
'opp_t/o': 'int8',
'opp_blk': 'int8',
'opp_stl': 'int8',
'opp_fgm': 'int8',
'opp_fga': 'int8',
'opp_3fgm': 'int8',
'opp_3fga': 'int8',
'opp_ftm': 'int8',
'opp_fta': 'int8',
'rb avg': 'float16',
'fg%': 'float16',
'3pt%': 'float16',
'ft%': 'float16',
'opp_rb avg': 'float16',
'opp_fg%': 'float16',
'opp_3pt%': 'float16',
'opp_ft%': 'float16',
'cnu_score': 'int8',
'opp_score': 'int8'
}

combined_df = combined_df.astype(dtype=dtypes)

In [69]:
# Differentials are just the difference between CNU minus the other Teams value in a certain statistical category
# The value will be postive is CNU had a higher count than the other team, negative for the inverse.
def differentials():
    combined_df['off_diff'] = combined_df['off'] - combined_df['opp_off']
    combined_df['def_diff'] = combined_df['def'] - combined_df['opp_def']
    combined_df['tot_diff'] = combined_df['tot'] - combined_df['opp_tot']
    combined_df['pf_diff'] = combined_df['pf'] - combined_df['opp_pf']
    combined_df['ast_diff'] = combined_df['ast'] - combined_df['opp_ast']
    combined_df['t/o_diff'] = combined_df['t/o'] - combined_df['opp_t/o']
    combined_df['blk_diff'] = combined_df['blk'] - combined_df['opp_blk']
    combined_df['stl_diff'] = combined_df['stl'] - combined_df['opp_stl']
    combined_df['fgm_diff'] = combined_df['fgm'] - combined_df['opp_fgm']
    combined_df['fga_diff'] = combined_df['fga'] - combined_df['opp_fga']
    combined_df['3fgm_diff'] = combined_df['3fgm'] - combined_df['opp_3fgm']
    combined_df['3fga_diff'] = combined_df['3fga'] - combined_df['opp_3fga']
    combined_df['ftm_diff'] = combined_df['ftm'] - combined_df['opp_ftm']
    combined_df['fta_diff'] = combined_df['fta'] - combined_df['opp_fta']
    combined_df['fg%_diff'] = combined_df['fg%'] - combined_df['opp_fg%']
    combined_df['3pt%_diff'] = combined_df['3pt%'] - combined_df['opp_3pt%']
    combined_df['ft%_diff'] = combined_df['ft%'] - combined_df['opp_ft%']
    
differentials()
combined_df

,opponent,date,fg%,3pt%,ft%,off,def,tot,rb avg,pf,...,stl_diff,fgm_diff,fga_diff,3fgm_diff,3fga_diff,ftm_diff,fta_diff,fg%_diff,3pt%_diff,ft%_diff
0,LYNCHBURG,2010-11-19,0.460938,0.412109,0.688965,17,31,48,48.00000,20,...,4,-5,-8,1,-1,17,25,-0.015137,0.079102,-0.011230
1,ST. JOHN FISHER,2010-11-20,0.440918,0.333008,0.765137,6,24,30,39.00000,22,...,9,5,6,0,-8,-6,-8,0.044922,0.133057,0.005371
2,VIRGINIA WESLEYAN,2010-11-23,0.461914,0.500000,0.600098,4,23,27,35.00000,17,...,-5,-11,-26,-2,-14,2,6,0.015869,0.250000,-0.066895
3,BRIDGEWATER,2010-11-26,0.509766,0.416992,0.666992,14,33,47,38.00000,22,...,-2,-1,-14,-1,-7,17,23,0.094727,0.101074,0.076172
4,WESLEY,2010-11-27,0.520020,0.625000,0.743164,13,24,37,37.81250,24,...,-5,-2,-15,1,-12,7,9,0.089111,0.425049,0.012207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,2022-02-26,0.452881,0.272949,0.727051,17,31,48,44.50000,18,...,-1,7,2,-2,-6,-1,4,0.097900,-0.012939,-0.216797
318,BARUCH,2022-03-04,0.449951,0.281982,0.833008,15,36,51,44.68750,13,...,8,17,17,6,23,-2,-4,0.147949,-0.031006,0.132812
319,SUSQUEHANNA,2022-03-05,0.549805,0.428955,0.666992,7,30,37,44.40625,15,...,2,7,-3,2,-3,-2,-4,0.136719,0.136963,0.051758
320,STOCKTON,2022-03-11,0.548828,0.478027,0.570801,11,42,53,44.68750,18,...,1,18,0,8,3,-5,-7,0.252930,0.328125,-0.072266
321,MARIETTA,2022-03-12,0.381104,0.476074,0.676758,10,28,38,44.50000,24,...,2,-1,4,-2,-3,2,1,-0.042969,-0.023926,0.043945

In [70]:
# Some Team names are inconsistent/duplicated, this dictionary contains those names and the value I want to change them to.
duplicates = {
 'FROSTBURG':'FROSTBURG STATE UNIVERSITY',
 'FROSTBURG STATE':'FROSTBURG STATE UNIVERSITY',
 'GREENSBORO':'GREENSBORO COLLEGE',
 'GREENSBORO COLLEGE':'GREENSBORO COLLEGE',
 'KEENE STATE':'KEENE STATE COLLEGE',
 'KEENE STATE COLLEGE':'KEENE STATE COLLEGE',
 'LAGRANGE':'LAGRANGE COLLEGE',
 'LAGRANGE COLLEGE':'LAGRANGE COLLEGE',
 'LYNCHBURG':'LYNCHBURG UNIVERSITY',
 'LYNCHBURG COLLEGE':'LYNCHBURG UNIVERSITY',
 'MARYMOUNT':'MARYMOUNT (VA.)',
 'MARYMOUNT (VA)':'MARYMOUNT (VA.)',
 'MARYMOUNT (VA.)':'MARYMOUNT (VA.)',
 'MARYVILLE':'MARYVILLE COLLEGE',
 'MARYVILLE COLLEGE SCOTS':'MARYVILLE COLLEGE',
 'PENN ST. HARRISBURG':'PENN STATE HARRISBURG',
 'PENN ST.-HARRISBURG':'PENN STATE HARRISBURG',
 'PENN STATE HARRISBUR':'PENN STATE HARRISBURG',
 'PENN STATE HARRISBURG':'PENN STATE HARRISBURG',
 'SHENANDOAH':'SHENANDOAH UNIVERSITY',
 'SHENANDOAH HORNETS':'SHENANDOAH UNIVERSITY',
 'SOUTHERN VA.':'SOUTHERN VIRGINIA UNIVERSITY',
 'SOUTHERN VIRGINIA':'SOUTHERN VIRGINIA UNIVERSITY',
 'SOUTHERN VIRGINIA UNIVERSITY':'SOUTHERN VIRGINIA UNIVERSITY',
 "ST. MARY'S (MD)":"ST. MARY'S (MD.)",
 "ST. MARY'S (MD.)":"ST. MARY'S (MD.)",
 'VA. WESLEYAN':'VIRGINIA WESLEYAN UNIVERSITY',
 'VIRGINIA WESLEYAN':'VIRGINIA WESLEYAN UNIVERSITY',
 'WASH. & LEE':'WASHINGTON AND LEE UNIVERSITY',
 'WASHINGTON & LEE':'WASHINGTON AND LEE UNIVERSITY',
 'WASHINGTON AND LEE':'WASHINGTON AND LEE UNIVERSITY',
 'WASHINGTON COL.':'WASHINGTON COLLEGE',
 'WASHINGTON COLLEGE':'WASHINGTON COLLEGE',
 'WIS.-STEVENS POINT':'WISC.-STEVENS POINT',
 'WISC.-STEVENS POINT':'WISC.-STEVENS POINT',
 'YORK (N.Y.)':'YORK (N.Y.)',
 'YORK (NY)': 'YORK (N.Y.)'
}
# Then we will replace those names in the opponents column
combined_df.opponent = combined_df.opponent.replace(duplicates)

In [72]:
combined_df = combined_df.reindex(sorted(combined_df.columns), axis=1)
combined_df

,3fga,3fga_diff,3fgm,3fgm_diff,3pt%,3pt%_diff,ast,ast_diff,blk,blk_diff,...,season,stl,stl_diff,t/o,t/o_diff,tot,tot_diff,weekday,win,year
0,17,-1,7,1,0.412109,0.079102,15,0,5,3,...,2010-2011,10,4,17,-10,48,-1,4,1,2010
1,12,-8,4,0,0.333008,0.133057,8,0,2,-2,...,2010-2011,11,9,13,-9,30,-11,5,1,2010
2,6,-14,3,-2,0.500000,0.250000,2,-10,0,-4,...,2010-2011,2,-5,18,8,27,-16,1,0,2010
3,12,-7,5,-1,0.416992,0.101074,10,-5,9,6,...,2010-2011,6,-2,19,6,47,17,4,1,2010
4,8,-12,5,1,0.625000,0.425049,10,4,4,0,...,2010-2011,6,-5,19,4,37,2,5,1,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,22,-6,6,-2,0.272949,-0.012939,11,2,10,5,...,2021-2022,5,-1,15,5,48,16,5,1,2022
318,39,23,11,6,0.281982,-0.031006,24,16,5,3,...,2021-2022,12,8,7,-7,51,13,4,1,2022
319,21,-3,9,2,0.428955,0.136963,25,14,6,6,...,2021-2022,5,2,9,-1,37,4,5,1,2022
320,23,3,11,8,0.478027,0.328125,17,9,8,2,...,2021-2022,6,1,15,1,53,19,4,1,2022
321,21,-3,10,-2,0.476074,-0.023926,8,-6,5,2,...,2021-2022,4,2,6,-4,38,-10,5,0,2022