In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_cnu = pd.read_csv('teamStats/cnuStats.csv')
raw_opp = pd.read_csv('teamStats/oppStats.csv')

In [3]:
raw_cnu

,Opponent,Date,Score,w/l,fgm-fga,pct,3fg-fga,pct.1,ftm-fta,pct.2,...,tot,avg,pf,ast,t/o,blk,stl,pts,avg.1,Season
0,LYNCHBURG,11/19/10,108-100,Wot,35-76,0.461,7-17,0.412,31-45,0.689,...,48,48.0,20,15,17,5,10,108,108.0,2010-2011
1,ST. JOHN FISHER,11/20/10,69-65,W,26-59,0.441,4-12,0.333,13-17,0.765,...,30,39.0,22,8,13,2,11,69,88.5,2010-2011
2,at #12 Virginia Wesleyan,11/23/10,57-79,L,18-39,0.462,3-6,0.500,18-30,0.600,...,27,35.0,17,2,18,0,2,57,78.0,2010-2011
3,BRIDGEWATER,11/26/10,87-73,W,26-51,0.510,5-12,0.417,30-45,0.667,...,47,38.0,22,10,19,9,6,87,80.2,2010-2011
4,WESLEY,11/27/10,83-79,W,26-50,0.520,5-8,0.625,26-35,0.743,...,37,37.8,24,10,19,4,6,83,80.8,2010-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,02/26/22,80-69,W,29-64,0.453,6-22,0.273,16-22,0.727,...,48,44.5,18,11,15,10,5,80,81.5,2021-2022
318,BARUCH,03/04/22,88-50,W,36-80,0.450,11-39,0.282,5-6,0.833,...,51,44.7,13,24,7,5,12,88,81.7,2021-2022
319,SUSQUEHANNA,03/05/22,81-67,W,33-60,0.550,9-21,0.429,6-9,0.667,...,37,44.4,15,25,9,6,5,81,81.7,2021-2022
320,vs Stockton,03/11/22,93-54,W,39-71,0.549,11-23,0.478,4-7,0.571,...,53,44.7,18,17,15,8,6,93,82.1,2021-2022
321,at Marietta,03/12/22,79-81,L,24-63,0.381,10-21,0.476,21-31,0.677,...,38,44.5,24,8,6,5,4,79,82.0,2021-2022

In [4]:
raw_cnu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Opponent  322 non-null    object
 1   Date      322 non-null    object
 2   Score     322 non-null    object
 3   w/l       322 non-null    object
 4   fgm-fga   322 non-null    object
 5   pct       322 non-null    float64
 6   3fg-fga   322 non-null    object
 7   pct.1     322 non-null    float64
 8   ftm-fta   322 non-null    object
 9   pct.2     322 non-null    float64
 10  off       322 non-null    int64
 11  def       322 non-null    int64
 12  tot       322 non-null    int64
 13  avg       322 non-null    float64
 14  pf        322 non-null    int64
 15  ast       322 non-null    int64
 16  t/o       322 non-null    int64
 17  blk       322 non-null    int64
 18  stl       322 non-null    int64
 19  pts       322 non-null    int64
 20  avg.1     322 non-null    float64
 21  Season    322 non-null    object
dtypes: float64(5), int64(9), object(8)
memory usage: 55.5+ KB

In [5]:
raw_cnu.columns

Index(['Opponent', 'Date', 'Score', 'w/l', 'fgm-fga', 'pct', '3fg-fga',
       'pct.1', 'ftm-fta', 'pct.2', 'off', 'def', 'tot', 'avg', 'pf', 'ast',
       't/o', 'blk', 'stl', 'pts', 'avg.1', 'Season'],
      dtype='object')

In [6]:
raw_cnu = raw_cnu.rename(columns={'Score': 'cnu_score-opp_score',
                        '3fg-fga': '3fgm-3fga',
                        'pct': 'fg%',
                        'pct.1': '3pt%',
                        'pct.2': 'ft%',
                        'avg': 'rb avg',
                        'avg.1': 'ppg avg'})

In [7]:
raw_opp = raw_opp.rename(columns={'Score': 'cnu_score-opp_score',
                        '3fg-fga': '3fgm-3fga',
                        'pct': 'fg%',
                        'pct.1': '3pt%',
                        'pct.2': 'ft%',
                        'avg': 'rb avg',
                        'avg.1': 'ppg avg'})

In [8]:
raw_cnu.columns

Index(['Opponent', 'Date', 'cnu_score-opp_score', 'w/l', 'fgm-fga', 'fg%',
       '3fgm-3fga', '3pt%', 'ftm-fta', 'ft%', 'off', 'def', 'tot', 'rb avg',
       'pf', 'ast', 't/o', 'blk', 'stl', 'pts', 'ppg avg', 'Season'],
      dtype='object')

In [9]:
raw_opp.columns

Index(['Opponent', 'Date', 'cnu_score-opp_score', 'w/l', 'fgm-fga', 'fg%',
       '3fgm-3fga', '3pt%', 'ftm-fta', 'ft%', 'off', 'def', 'tot', 'rb avg',
       'pf', 'ast', 't/o', 'blk', 'stl', 'pts', 'ppg avg', 'Season'],
      dtype='object')

In [10]:
cols_to_split = ['cnu_score-opp_score','fgm-fga', '3fgm-3fga', 'ftm-fta']

In [11]:
# Function where I pass in dataframe and columns that contain split/hypenated data
def split_columns(df, cols):
  
  # Function  will take the df and split the column name into two new columns for the dataframe
  for col in cols:
    new_cols = col.split('-')
    print(new_cols)
    # Then will go through the original column and split the data in the column on it's seperator
    df[[new_cols[0], new_cols[1]]] = df[col].str.split('-', expand=True)
    # Drop the orginal column to remove the repetitive data
    df.drop(col, axis=1, inplace=True) 
    
  
split_columns(raw_cnu, cols_to_split)
split_columns(raw_opp, cols_to_split)

['cnu_score', 'opp_score']
['fgm', 'fga']
['3fgm', '3fga']
['ftm', 'fta']
['cnu_score', 'opp_score']
['fgm', 'fga']
['3fgm', '3fga']
['ftm', 'fta']

In [12]:
raw_cnu.columns = raw_cnu.columns.str.lower()
raw_opp.columns = raw_opp.columns.str.lower()

In [13]:
raw_opp

,opponent,date,w/l,fg%,3pt%,ft%,off,def,tot,rb avg,...,ppg avg,season,cnu_score,opp_score,fgm,fga,3fgm,3fga,ftm,fta
0,LYNCHBURG,11/19/10,Wot,0.476,0.333,0.700,18,31,49,49.0,...,100.0,2010-2011,108,100,40,84,6,18,14,20
1,ST. JOHN FISHER,11/20/10,W,0.396,0.200,0.760,9,32,41,45.0,...,82.5,2010-2011,69,65,21,53,4,20,19,25
2,at #12 Virginia Wesleyan,11/23/10,L,0.446,0.250,0.667,18,25,43,44.3,...,81.3,2010-2011,57,79,29,65,5,20,16,24
3,BRIDGEWATER,11/26/10,W,0.415,0.316,0.591,10,20,30,40.8,...,79.2,2010-2011,87,73,27,65,6,19,13,22
4,WESLEY,11/27/10,W,0.431,0.200,0.731,18,17,35,39.6,...,79.2,2010-2011,83,79,28,65,4,20,19,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,02/26/22,W,0.355,0.286,0.944,10,22,32,34.7,...,66.5,2021-2022,80,69,22,62,8,28,17,18
318,BARUCH,03/04/22,W,0.302,0.313,0.700,9,29,38,34.8,...,65.9,2021-2022,88,50,19,63,5,16,7,10
319,SUSQUEHANNA,03/05/22,W,0.413,0.292,0.615,11,22,33,34.7,...,66.0,2021-2022,81,67,26,63,7,24,8,13
320,vs Stockton,03/11/22,W,0.296,0.150,0.643,11,23,34,34.7,...,65.6,2021-2022,93,54,21,71,3,20,9,14
321,at Marietta,03/12/22,L,0.424,0.500,0.633,11,37,48,35.1,...,66.1,2021-2022,79,81,25,59,12,24,19,30

In [14]:
# Clean the Opponent Column
def clean_teamName(df):
  # Remove the numbers/rankings
  df['opponent'] = df['opponent'].str.replace('\#\d+', '', regex=True)
  # Remove the 'at' denoting away games
  df['opponent'] = df['opponent'].apply(lambda x: x[2:] if x[:2] == 'at' else x)
  # Remove the 'vs' denoting neutral location games
  df['opponent'] = df['opponent'].apply(lambda x: x[2:] if x[:2] == 'vs' else x)
   # Capitalize the Team Name
  df['opponent'] = df['opponent'].apply(lambda x: x.upper())
  
clean_teamName(raw_cnu)
clean_teamName(raw_opp)
raw_cnu

,opponent,date,w/l,fg%,3pt%,ft%,off,def,tot,rb avg,...,ppg avg,season,cnu_score,opp_score,fgm,fga,3fgm,3fga,ftm,fta
0,LYNCHBURG,11/19/10,Wot,0.461,0.412,0.689,17,31,48,48.0,...,108.0,2010-2011,108,100,35,76,7,17,31,45
1,ST. JOHN FISHER,11/20/10,W,0.441,0.333,0.765,6,24,30,39.0,...,88.5,2010-2011,69,65,26,59,4,12,13,17
2,VIRGINIA WESLEYAN,11/23/10,L,0.462,0.500,0.600,4,23,27,35.0,...,78.0,2010-2011,57,79,18,39,3,6,18,30
3,BRIDGEWATER,11/26/10,W,0.510,0.417,0.667,14,33,47,38.0,...,80.2,2010-2011,87,73,26,51,5,12,30,45
4,WESLEY,11/27/10,W,0.520,0.625,0.743,13,24,37,37.8,...,80.8,2010-2011,83,79,26,50,5,8,26,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,MARY WASHINGTON,02/26/22,W,0.453,0.273,0.727,17,31,48,44.5,...,81.5,2021-2022,80,69,29,64,6,22,16,22
318,BARUCH,03/04/22,W,0.450,0.282,0.833,15,36,51,44.7,...,81.7,2021-2022,88,50,36,80,11,39,5,6
319,SUSQUEHANNA,03/05/22,W,0.550,0.429,0.667,7,30,37,44.4,...,81.7,2021-2022,81,67,33,60,9,21,6,9
320,STOCKTON,03/11/22,W,0.549,0.478,0.571,11,42,53,44.7,...,82.1,2021-2022,93,54,39,71,11,23,4,7
321,MARIETTA,03/12/22,L,0.381,0.476,0.677,10,28,38,44.5,...,82.0,2021-2022,79,81,24,63,10,21,21,31

In [18]:
raw_cnu.groupby('opponent')[['opponent']].count()

                     opponent
opponent
  FERRUM                    1
  ST. MARY'S (MD.)          1
  VA. WESLEYAN              1
  VIRGINIA WESLEYAN         1
 AVERETT                    4
...                       ...
WIDENER                     1
WILLIAM PEACE               1
WISC.-STEVENS POINT         1
YORK (NY)                   1
YORK (PA.)                 10

[138 rows x 1 columns]